/* Полное обнуление стилей */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 1;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 21px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
    display: block;
}

button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    overflow: visible;
    border: none;
    background: none;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

[hidden] {
    display: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
