.menu {
    width: 100%;
    height: 60px;
    background: #000;
}

.menu__list {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
}

.menu__link:hover {
    color: #cecece;
    transition: 0.3s ease-in-out color;
}